@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Message</h3>

<p>
   Wedding Rental App provids you with access to popular fashion labels without a large financial commitment or the hassle of shopping in-store. 
    When you use a clothing rental service, you’ll be able to browse through a vast selection of Wedding dresses 
    that match your personal style and add them to your at-home wardrobe for as long as you need.
</p>
