  
<!DOCTYPE html>

<html>
<head>
</head>
<body>

    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <p>Welcome</p>

    <a> <img src="~/Images/couple.jpg" /> </a>


</body>

</html>



@{
    ViewBag.Title = "Home Page";
    
}